In [1]:
pip install pymysql pandas

Requirement already satisfied: pymysql in c:\users\orbit computer\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: pandas in c:\users\orbit computer\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\orbit computer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\orbit computer\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\orbit computer\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\orbit computer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\orbit computer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\orbit computer\anaconda3\lib\site-packages (9.5.0)Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql
import pandas as pd

# 1Ô∏è‚É£ Connect to MySQL
try:
    conn = pymysql.connect(
        host="localhost",
        user="root",
        password="Ayush@4618",
        database="fraud_detection"
    )
    cursor = conn.cursor()
    print("‚úÖ Connected to MySQL successfully!")
except Exception as err:
    print(f"‚ùå Error connecting to MySQL: {err}")

# 2Ô∏è‚É£ Input Transaction Details
customer_name = input("Enter customer name: ")
amount = float(input("Enter order amount: "))
previous_returns = int(input("Enter number of previous returns: "))
chargeback_history = int(input("Any previous chargebacks? (1=Yes / 0=No): "))
address_mismatch = int(input("Is address mismatched? (1=Yes / 0=No): "))
high_risk_country = int(input("From high-risk country? (1=Yes / 0=No): "))

# 3Ô∏è‚É£ Calculate Risk Score
risk_score = 0
if amount > 1000:
    risk_score += 2
if previous_returns > 2:
    risk_score += 2
if chargeback_history == 1:
    risk_score += 3
if address_mismatch == 1:
    risk_score += 2
if high_risk_country == 1:
    risk_score += 2

if risk_score >= 6:
    risk_level = "High"
elif risk_score >= 3:
    risk_level = "Medium"
else:
    risk_level = "Low"

print(f"\nRisk Score: {risk_score}")
print(f"Risk Level: {risk_level}")

# 4Ô∏è‚É£ Save Data to Database
try:
    query = """
    INSERT INTO transactions
    (customer_name, amount, previous_returns, chargeback_history,
     address_mismatch, high_risk_country, risk_score, risk_level)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (customer_name, amount, previous_returns,
              chargeback_history, address_mismatch,
              high_risk_country, risk_score, risk_level)
    cursor.execute(query, values)
    conn.commit()
    print("\n‚úÖ Transaction saved successfully!")
except Exception as err:
    print(f"‚ùå Database Error: {err}")

# 5Ô∏è‚É£ Fetch and Show Data
try:
    query = "SELECT * FROM transactions"
    cursor.execute(query)
    rows = cursor.fetchall()
    df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
    print("\nüìä Transaction Records:")
    display(df)
except Exception as e:
    print(f"‚ö† Could not fetch data: {e}")

# 6Ô∏è‚É£ Close Connection
cursor.close()
conn.close()
print("\nüîí MySQL connection closed.")

‚úÖ Connected to MySQL successfully!

Enter customer name:  Ayush
Enter order amount:  1500
Enter number of previous returns:  3
Any previous chargebacks? (1=Yes / 0=No):  1
Is address mismatched? (1=Yes / 0=No):  0
From high-risk country? (1=Yes / 0=No):  0

Risk Score: 7
Risk Level: High

‚úÖ Transaction saved successfully!

üìä Transaction Records:

,id,customer_name,amount,previous_returns,chargeback_history,address_mismatch,high_risk_country,risk_score,risk_level
0,1,Ayush,1500.0,3,1,0,0,7,High

üîí MySQL connection closed.